# Node
node_modules

# Env
.env
.env.*.local

# secret
secret

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/

# Generated code (optional if regenerated in CI/dev)
src/generated/

# Build
dist/
*.tsbuildinfo

# System & editor junk
.DS_Store
.vscode/
